* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Navbar */
.navbar {
    background-color: white;
}

.nav-link {
    color: black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.nav-link:hover {
    color: white;
    background-color: black;
}

.navbar-brand {
    font-size: 1.25rem;
    font-weight: 800;
    color: black;
    cursor: pointer;
    text-decoration: none;
}


/* Landing page */
.landing {
    background: url(./images/landing-bg.jpg);
    background-size: cover;
    width: 100%;
    height: 95vh;
}

.landing h3 {
    font-size: 4.4rem;
    font-weight: 700;
}

.landing h6 {
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1;
    border-bottom: 3px solid rgb(233, 20, 109);
    width: 50%;
}

.landing .button1 {
    height: 55px;
    width: 138px;
    background-color: rgb(233, 20, 109);
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

.landing .button1:hover {
    background-color: rgb(202, 18, 95);
    transition: 0.5s;
}

.landing .button2 {
    height: 55px;
    width: 138px;
    background-color: transparent;
    color: rgb(233, 20, 109);
    outline: none;
    border: 1px solid rgb(233, 20, 109);
    font-weight: bold;
    border-radius: 5px;
}

.landing .button2:hover {
    background-color: rgb(233, 20, 109);
    transition: 0.5s;
    color: white;
}

/* ABOUT ME SECTION */

/* .aboutme {
    height: 100vh;
} */

.aboutme img {
    -webkit-box-shadow: 6px 4px 29px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 29px -14px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 29px -14px rgba(0,0,0,0.75);
}

.aboutme h1 {
    font-size: 3rem;
    font-weight: 900;
}

.progressbar {
    background-color: rgb(223, 219, 219);
    justify-content: flex-start;
    border-radius: 50px;
    align-items: center;
    position: relative;
    display: flex;
    height: 25px;
    width: 100%;

    -webkit-box-shadow: inset 1px -3px 176px -97px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 1px -3px 176px -97px rgba(0,0,0,0.75);
    box-shadow: inset 1px -3px 176px -97px rgba(0,0,0,0.75);
}

.progressbar-value1 {
    animation: load1 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
}

.progressbar-value2 {
    animation: load2 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
}

.progressbar-value3 {
    animation: load3 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
}

.progressbar-value4 {
    animation: load4 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
}

.progressbar p {
    color: white;
    padding-left: 25px;
}



@keyframes load1 {
    0% {
        width: 0;
    }
    100% {
        width: 85%;
    }
}

@keyframes load2 {
    0% {
        width: 0;
    }
    100% {
        width: 75%;
    }
}

@keyframes load3 {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}

@keyframes load4 {
    0% {
        width: 0;
    }
    100% {
        width: 20%;
    }
}

.aboutme .btn1 {
    height: 40px;
    width: 145px;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    border-radius: 4px;
}

.aboutme .btn1:hover {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    transition: 0.5s;
}

.aboutme .btn2 {
    height: 40px;
    width: 145px;
    outline: none;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    border-radius: 4px;
}

.aboutme .btn2:hover {
    background-color: black;
    color: white;
    border: none;
    transition: 0.5s;
}



/* My Portfolio Section */

.myportfolio .card {
    border: none;
    outline: none;
}

.myportfolio .card p {
    color: gray;
}




.ecommerce-profile, .heart-foundation-profile, .jules-profile {
    height: 300px;
    width: 100%;
}

.ecommerce-logo, .heart-foundation-logo, .jules-logo {
    width: 100px;
    height: 100px;
}

.ecommerce-btn, .heart-foundation-btn, .jules-btn {
    height: 40px;
    width: 100px;
    outline: none;
    border: none;
    background-color: dodgerblue;
    color: white;
    border-radius: 4px;
}

.ecommerce-btn:hover, .heart-foundation-btn:hover, .jules-btn:hover {
    background-color: rgb(21, 105, 189);
    transition: 0.5s;
}


.myportfolio .container {
    display: flex;
}









